In [1]:
import pandas as pd

In [2]:
data_processing = pd.read_json(r'city.list.json')

In [3]:
data_processing

,id,name,country,coord
0,707860,Hurzuf,UA,"{'lon': 34.283333, 'lat': 44.549999}"
1,519188,Novinki,RU,"{'lon': 37.666668, 'lat': 55.683334}"
2,1283378,Gorkhā,NP,"{'lon': 84.633331, 'lat': 28}"
3,1270260,State of Haryāna,IN,"{'lon': 76, 'lat': 29}"
4,708546,Holubynka,UA,"{'lon': 33.900002, 'lat': 44.599998}"
...,...,...,...,...
209574,2613685,Skodsborg,DK,"{'lon': 12.57324, 'lat': 55.822498}"
209575,2613357,Smidstrup,DK,"{'lon': 12.55787, 'lat': 55.865688}"
209576,6460975,Rastnik,BG,"{'lon': 25.283331, 'lat': 41.400002}"
209577,727762,Rastnik,BG,"{'lon': 25.283331, 'lat': 41.400002}"
209578,596826,Murava,LT,"{'lon': 23.966669, 'lat': 54.916672}"

In [4]:
data_html = data_processing.to_html()

In [19]:
text_file = open("../index1.html", "w", encoding='utf-8')

In [20]:
text_file.write(data_html)

33238022